In [241]:
import pandas as pd

ratings = pd.read_csv('/home/supay/datos/rating.csv')
ratings = ratings[['user_id','anime_id','rating']]
movies = pd.read_csv('/home/supay/datos/anime.csv')
movies = movies[['anime_id','name']]

ratings = ratings.head(1167)
ratings = pd.merge(movies, ratings)

#dif = ratings.anime_id.unique()
#print(len(dif))

In [242]:
userRatings = ratings.pivot_table(index=['user_id'],columns=['anime_id'],values='rating')

In [243]:
corrMatrix = userRatings.corr()
corrMatrix.head()

anime_id,6,15,17,18,20,22,24,30,31,32,...,32108,32171,32182,32215,32360,32380,32553,32828,33091,33341
anime_id,,,,,,,,,,,,,,,,,,,,,
6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
corrMatrix = userRatings.corr(method='pearson', min_periods=5)
corrMatrix.head(1167)

anime_id,6,15,17,18,20,22,24,30,31,32,...,32108,32171,32182,32215,32360,32380,32553,32828,33091,33341
anime_id,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [245]:
myRatings = userRatings.loc[1].dropna()
myRatings.head(10)

anime_id
20    -1.0
24    -1.0
79    -1.0
226   -1.0
241   -1.0
355   -1.0
356   -1.0
442   -1.0
487   -1.0
846   -1.0
Name: 1, dtype: float64

In [246]:
simCandidates = pd.Series()
print(simCandidates)
for i in range(0, len(myRatings.index)):
    print ("Añadiendo pelis similares a " + myRatings.index[i] + "...")
    # Recuperar las pelis similares a las calificadas
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Escalar la similaridad multiplicando por la calificación de la persona
    sims = sims.map(lambda x: x * myRatings[i])
    # Añadir el puntaje a la lista de candidatos similares
    simCandidates = simCandidates.append(sims)
    
#Mirar los resultados:
#print ("ordenando...")
simCandidates.sort_values(inplace = True, ascending = False)
print (simCandidates.head(10))

Series([], dtype: float64)

<ipython-input-246-4a448cecd77e>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  simCandidates = pd.Series()

TypeError: can only concatenate str (not "numpy.int64") to str

In [ ]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [ ]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)

In [ ]:
#print(myRatings)
filteredSims = simCandidates.drop(myRatings.index,errors='ignore')
filteredSims.head(10)